services:
  zkp-verification-service:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "50051:50051"
    restart: unless-stopped
    networks:
      - backend-network

networks:
  backend-network:
    driver: bridge