services:

  api-gateway:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "8002:8002"
    restart: unless-stopped
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true