services:
  zkp-verification-service:
    build:
      context: ./
      dockerfile: Dockerfile
    env_file:
      - ./.env
    ports:
      - "50051:50051"
    restart: unless-stopped
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true